@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

*,
::after,
::before {
	font-family: 'Space Grotesk', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

:root {
	/* Background color */
	--card-form-bg-color: rgb(255, 255, 255);
	--form-button-bg-color: rgb(33, 9, 47);

	/* Font color */
	--form-label-font-color: rgb(33, 9, 47);
	--form-input-font-color: rgb(33, 9, 47);
	--form-input-font-color--placeholder: rgb(222, 221, 223);
	--form-error-font-color: rgb(255, 0, 0);
	--form-button-font-color: rgb(222, 221, 223);
	--card-box-font-color: rgb(255, 255, 255);
	--complete-window-title-font-color: rgb(33, 9, 47);
	--complete-window-text-font-color: rgb(142, 133, 147);

	/* border color */
	--form-input-border-color--focus-1: rgb(100, 72, 254);
	--form-input-border-color--focus-2: rgb(96, 5, 148);
	--form-input-border-color: rgb(222, 221, 223);
	--form-input-border-color--error: rgb(255, 0, 0);
}

html {
	font-size: 62.5%;

}

body {
	font-size: 1.3rem;
	font-weight: 500;
}

.wrapper {
	width: 100%;
	height: 100vh;
	min-height: 900px;
	overflow: auto;
}

.payment-form {
	display: flex;
	width: 100%;
	height: 100%;
}

/** ============= Payment-form image ================== */
.payment-form__img {
	flex: 0 1 30%;
	background: url('./images/bg-main-desktop.png') 0 0/ cover no-repeat;
}

/** ============= Payment-form card-form ================== */
.payment-form__card-form {
	flex: 0 1 70%;
	background-color: var(--card-form-bg-color);
}

.card-form__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 150px;
}

/* Card box */
.card-box {
	color: var(--card-box-font-color);
}

.card-front__logo {
	flex-grow: 1;
}

.card-front,
.card-back {
	position: absolute;
	width: 447px;
	height: 245px;
}

.card-front {
	top: 200px;
	left: -310px;
	background: url('./images/bg-card-front.png') 0 0/ 100% 100% no-repeat;
}

.card-front__inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	padding: 30px;
}

.card-front__card-number {
	font-size: 2.9rem;
	margin-bottom: 30px;
	letter-spacing: 3px;
}

.card-front__footer {
	display: flex;
	justify-content: space-between;
}

.card-front__holder-name {
	font-size: 1.7rem;
	letter-spacing: 2px;
}

.card-front__expiration {
	font-size: 1.7rem;
}

.card-back {
	top: 480px;
	left: -220px;
	background: url('./images/bg-card-back.png') 0 0/ 100% 100% no-repeat;
}

.card-back__cvc {
	position: relative;
	top: 109px;
	left: 355px;
	display: inline-block;
	font-size: 1.7rem;
	letter-spacing: 1px;
}

/* Card form */
.form__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 400px;
}

.input-control__name,
.input-control__number,
.btn {
	flex: 0 1 100%;
}

.input-control__date,
.input-control__cvc {
	flex: 0 1 47%;
}

.input-control__name>.input-control__inner,
.input-control__number>.input-control__inner,
.input-control__cvc>.input-control__inner {
	display: flex;
	flex-direction: column;
}

.input-control__date>.input-control__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.input-control__date>.input-control__inner>.label,
.input-control__date>.input-control__inner>.error-text {
	flex: 0 1 100%;
}

.input-control__date>.input-control__inner>.input {
	flex: 0 1 47%;
}

.input-control__inner {
	margin-bottom: 20px;
}

.label {
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 2.7rem;
	color: var(--form-label-font-color);
}

.input {
	width: 100%;
	font-size: 1.8rem;
	padding: 10px 15px;
	border-radius: 8px;
	border: 1px solid var(--form-input-border-color);
	color: var(--form-input-font-color);
}

.input.error-border {
	border-color: var(--form-input-border-color--error);
}

.input:focus {
	outline: none;
	border: 1px solid transparent;
	background-image: linear-gradient(white, white),
		linear-gradient(to right,
			var(--form-input-border-color--focus-1),
			var(--form-input-border-color--focus-2));
	background-clip: padding-box, border-box;
}

.input::placeholder {
	color: var(--form-input-font-color--placeholder);
}

.error-text {
	margin-top: 5px;
	color: var(--form-error-font-color);
}

.input-control__date>.input-control__inner>.error-text {
	flex: 0 1 100%;
}

.btn {
	font-size: 1.8rem;
	padding: 15px;
	border-radius: 8px;
	background-color: var(--form-button-bg-color);
	color: var(--form-button-font-color);
}

.btn:hover {
	cursor: pointer;
	transform: scale(1.01);
}

.btn:active {
	transform: scale(1);
}

/* Complete window */
.complete-window__inner {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
}

.complete-window__icon {
	width: 80px;
	height: 80px;
	background: url('./images/icon-complete.svg') 0 0/ contain no-repeat;
	margin-bottom: 30px;
}

.complete-window__title {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	color: var(--complete-window-title-font-color);
}

.complete-window__text {
	font-size: 1.7rem;
	margin-bottom: 50px;
	color: var(--complete-window-text-font-color);
}

.complete-window__btn {
	width: 100%;
}

/** ============= Media ================== */
/* Desktops */
@media (max-width: 1200px) {
	.card-form__inner {
		padding-left: 270px;
	}

	/* Card box */
	.card-front,
	.card-back {
		width: 400px;
	}

	.card-front {
		left: -280px;
	}

	.card-front__card-number {
		font-size: 2.5rem;
	}

	.card-back {
		left: -190px;
	}

	.card-back__cvc {
		left: 310px;
	}
}

/* Laptops */
@media (max-width: 1024px) {
	html {
		font-size: 52%;
	}

	.wrapper {
		min-height: 600px;
	}

	.card-form__inner {
		padding-left: 250px;
	}

	.card-front {
		top: 40px;
		left: -190px;
	}

	.card-back {
		top: 320px;
	}

	/* Card form */
	.form__inner, 
	.complete-window__inner {
		width: 280px;
	}
}

/* Tablets */
@media (max-width: 768px) {
	.wrapper {
		min-height: 800px;
	}

	.payment-form {
		flex-direction: column;
		justify-content: flex-start;
	}

	.payment-form__img {
		flex-basis: 290px;
		background-image: url('./images/bg-main-mobile.png');
	}

	.card-form__inner {
		padding: 120px 0 40px 0;
		justify-content: center;
		align-items: flex-start;
	}

	/* Card box */
	.card-front,
	.card-back {
		width: 350px;
		height: 200px;
	}

	.card-front {
		top: -110px;
		left: 25px;
		z-index: 1;
	}

	.card-front__inner {
		padding: 22px;
	}

	.card-front__card-number {
		font-size: 2.1rem;
	}

	.card-front__holder-name {
		font-size: 1.1rem;
	}

	.card-front__expiration {
		font-size: 1.4rem;
	}

	.card-back {
		left: 105px;
		top: -224px;
	}

	.card-back__cvc {
		top: 90px;
		left: 270px;
		font-size: 1.4rem;
	}

	/* Card form */
	.form {
		height: 300px;
		max-width: 300px;
	}
}

/* Mobile */
@media (max-width: 480px) {
	html {
		font-size: 50%;
	}

	.wrapper {
		min-height: 740px;
	}

	.payment-form__img {
		flex-basis: 250px;
	}

	.card-form__inner {
		padding: 65px 20px 30px 20px;
	}

	/* Card box */
	.card-front,
	.card-back {
		width: 260px;
		height: 160px;
	}

	.card-front {
		top: -120px;
		left: 15px;
	}

	.card-front__inner {
		padding: 15px;
	}

	.card-front__logo {
		margin-top: -10px;
		margin-left: -17px;
	}

	.card-front__logo svg {
		transform: scale(0.6);
	}

	.card-front__card-number {
		font-size: 1.9rem;
		margin-bottom: 15px;
	}

	.card-back {
		top: -211px;
		right: 15px;
	}

	.card-back__cvc {
		top: 66px;
		left: 203px;
	}

	/* Card form */
	.form__inner, 
	.complete-window__inner {
		width: 290px;
	}
	
	.label {
		font-size: 1.4rem;
		line-height: 4rem;
	}

	.input {
		font-size: 2.2rem;
	}

	.submit-btn {
		padding: 17px 0;
		font-size: 2.1rem;
	}
}

@media (max-width: 374px) {
	html {
		font-size: 46%;
	}

	.wrapper {
		min-height: 700px;
	}

	.card-form__inner {
		padding-bottom: 15px;
	}

	.card-back,
	.card-front {
		left: 10px;
	}

	.card-back__cvc {
		top: 74px;
	}

	.input-control__date {
		width: 60%;
		flex-basis: auto;
	}

	.input-control__cvc {
		width: 36%;
		flex-basis: auto;
	}

	.form__inner,
	.complete-window__inner {
		width: 250px;
	}
}